body{
    background-image: url("https://img.freepik.com/free-vector/abstract-modern-glowing-wave-transparent-background_1055-5178.jpg?size=338c&ext=jpg");
    background-size: cover;
    background-position: center;
    

}